@layer theme, base, components, utilities;

@import 'tailwindcss';
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: #6B7280;
  --color-muted: #111827;
  --color-muted-light: #374151;
  --color-accent: #3b82f6;
  --color-error: #ef4444;
}

:root {
  --background: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 100%);
  --foreground: #1a202c;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

.dialect > * > button {
  height: 20px !important;
  width: 20px !important;
  border-radius: 100% !important;
}
